/*The webiste colors sampels*/
colors {
  color: #004466;
  color: #016699;
  color: #99cccc;
  color: #e4e5e6;
  color: #ff2105;
}

/*General properties*/

* {
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
  margin: 0;
  padding: 0;
  
}

/* .clr{
  clear: both;
} */

.responsive {
  width: 100%;
  height: auto;
}

#logo{
  width: 300px;
  display: inline-block;
}

  
  body {
    
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
  }

  

  

  label {
    display: block;
    cursor: pointer;
    color: #99cccc;
  }
  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }
  .menu a {
    display: block;
    border-bottom: 1px solid #eaeaeb;
    margin: 0;
  }
  #toggle:checked + .menu {
    display: block;
    
  }
  

  #navbar {
    border-bottom: 1px solid #99cccc;
    text-align: right;
    height: 70px;
    line-height: 70px;
  }

  .menu {
    margin: 0 30px 0 0;
  }
  .menu a {
    clear: right;
    text-decoration: none;
    color: #016699;
    margin: 0 10px;
    line-height: 70px;
    
    font-size: 1.5em;
    
  }
  
  span {
    color: #ff2105;
  }

  label {
    margin: 0 0 0 0;
    font-size: 26px;
    line-height: 70px;
    
    width: 26px;
    float: right;
  }

  #toggle {
    display: none;
  }

  ul,td,tr,p,h2,
  h3 {
  color: #004466;
  } 

  .readmore{
    font-size: 1em;
    width: 100%;
    text-decoration: none;
    color: #ff2105;
    
    
  }

  #block1,#block2,#block3 {
    
    width: 100%;
    padding: 10px;
    color: #004466;
    margin: 0 auto;
    padding-bottom: 50px;
    
    
    
  }

  h2{
    padding-bottom: 20px;
    
  }
  
  h3{
    padding-bottom: 15px;
    
  }

  #image{
    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 30px;
    
  }
  

  #colortable {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    
    
  }
  
  #colortable td, #colortable th {
    border: 1px solid #e4e5e641;
    padding: 8px;
  }
  
  #colortable tr:nth-child(even){background-color: #99cccc2f;}
  
  #colortable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;

  }


  #hsl{
    padding-top: 50px;
  }


  .footer{
    
    text-align: center;
    font-size: 0.8em;
    color: #99cccc;
    padding: 10px;
    background-color: #99cccc2f;
    
  }

   

